.logo_wrap {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 20px;
    /* kasih spasi antar logo dan link */
}

.navbar__link {
    color: #151f6d;
    text-decoration: none;
    font-weight: 300;
    font-size: 26px;
}

.navbar_logo {
    width: 150px;
    height: auto;
}

.navbar__right .navbar__register {
    background-color: #151f6d;
    color: white;
    border: none;
    padding: 8px 20px;
    /* border-radius: 4px; */
    cursor: pointer;
    font-weight: 300;
    font-size: 26px;
}

.navbar__right .navbar__login {
    background-color: white;
    color: white;
    padding: 8px 20px;
    /* border-radius: 4px; */
    border-color: #151f6d;
    cursor: pointer;
    color: #151f6d;
    font-weight: 300;
    font-size: 26px;
}
